<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
</head>
<body>
    <h2>Search Page</h2>

    <form id="searchForm">
        <label for="searchTerm">Search user:</label>
        <input type="text" id="searchTerm" name="search_term" required>
        <button type="submit">Search</button>
    </form>
    <form action="/logout" method="GET">
        <button type="submit">Logout</button>
    </form>

    <form action="/index" method="GET">
        <button type="submit">rce</button>
    </form>
    <div id="searchResults"></div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        // AJAX 
        $('#searchForm').submit(function (e) {
            e.preventDefault();
            var searchTerm = $('#searchTerm').val();

            $.ajax({
                type: 'POST',
                url: '/search',
                data: { search_term: searchTerm },
                success: function (data) {
                    displayResults(data);
                }
            });
        });

        // результат поиска
        function displayResults(results) {
            var resultHtml = '<h3>Результаты поиска:</h3>';

            if (results.length === 0) {
                resultHtml += '<p>Пользователь не найден: ' + $('#searchTerm').val() + '</p>';
            } else {
                resultHtml += '<ul>';
                results.forEach(function (result) {
                    resultHtml += '<li>' + result.username + '</li>';
                });
                resultHtml += '</ul>';
            }

            $('#searchResults').html(resultHtml);
        }
    </script>
</body>
</html>
